/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

/* Body part */
body{
    font-family: 'Lato', sans-serif;
}
.logo{font-size: 30px; font-weight: 600;}
.carousel-caption>h1{font-size: 4rem;}

p{font-size: 16px;letter-spacing: 0.5px;}

.Trusted>img{
    width: 100px;
    height: auto;
}
.icon{
    background-color: #242424;
    font-size: 18px;
    border-radius: 25px;
}

@media screen and (min-width:577px) and (max-width: 768px) {
    .carousel-caption h1{
        font-size: 2.5rem;
    }
    .carousel-item>img{
        width: 100%;
        height: 450px;
    }
    .my-modal ,.w-50{text-align: center; width: 100%; margin: 0 auto;}
}
@media screen and (min-width:320px) and (max-width: 576px) {
    .carousel-caption h1{
        font-size: 2rem;
    }
    .carousel-item>img{
        width: 100%;
        height: 400px;
    }
    /* course */
    img{
        width: 100%;
    }
    .my-modal ,.w-50{text-align: center; width: 100%; margin: 0 auto;}

}